<form class="needs-validation" [formGroup]="userForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated':submitted}">

	<div class="form-group" [ngClass]="{'has-error':invalidFirstName()}">
		<!-- First Name -->
		<label for="first_name" class="control-label">First Name</label>
		<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Martin" required>
		<p *ngIf="invalidFirstName()" id="first_name_error" class="help-block invalid-feedback">Invalid first name.</p>

	</div>

	<div class="form-group" [ngClass]="{'has-error':invalidLastName()}">
		<!-- Last Name -->
		<label for="last_name" class="control-label">Last Name</label>
		<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Toha" required>
		<p *ngIf="invalidLastName()" id="last_name_error" class="help-block invalid-feedback">Invalid last name.</p>
	</div>

	<div class="form-group" [ngClass]="{'has-error':invalidEmail()}">
		<!-- Email -->
		<label for="email" class="control-label">E-mail</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="your@email.com">
		<p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email.</p>
	</div>

	<div class="form-group" [ngClass]="{'has-error':invalidZipcode()}">
		<!-- Zip Code-->
		<label for="zipcode" class="control-label">Zip Code</label>
		<input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="#####">
		<p *ngIf="invalidZipcode()" id="zipcode_error" class="help-block">Invalid zipcode.</p>
	</div>

	<div class="form-group" [ngClass]="{'has-error':invalidPassword()}">
		<!-- Password -->
		<label for="password" class="control-label">Password</label>
		<input type="text" class="form-control" id="password" name="password" placeholder="*****">
		<p *ngIf="invalidPassword()" id="password_error" class="help-block">Invalid password.</p>
	</div>

	<div class="form-group">
		<!-- Register Button -->
		<button type="submit" class="btn btn-primary">Register</button>
	</div>

</form>